<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jump2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>jumpCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>jumpData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>jumpDatabase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>jumpLogger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>jumpNavigator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A3B71BD18D939DB005FA781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A3B71CA18D939DC005FA781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ACC0A3E18B6C46C00DCE1FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ACC0A4B18B6C46C00DCE1FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AFCCEBC18B6970200A7FC29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AFCCECC18B6970200A7FC29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AFCCEF318B699F700A7FC29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AFCCF0118B699F700A7FC29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AFCCF3618B69C6300A7FC29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AFCCF4318B69C6300A7FC29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AFCCF7B18B6A06F00A7FC29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AFCCF8818B6A06F00A7FC29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
